.Rhistory
.RData
.Rapp.history
.Rproj.user/
*.Rmd\.html
*.nb.html
*.nb.ipynb_checkpoints/
*.log
*.aux
*.out
*.toc
*.synctex.gz
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.zip
*.tar
*.gz
*.bak
*.tmp
*.swp
*~
.DS_Store
Thumbs.db
README.html

